@import "../../../styles/global-styles.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.displayBlock {
    visibility: visible;
}

.displayNone {
    visibility: hidden;
}

:global( #root){
    overflow-x: hidden;
}