@import "../../../styles/global-styles.scss";

.anchor {
    display: inline-block;
    text-decoration: none;
    margin: 0 $space-12;
    transition: all 0.3s ease;
}

.white {
    color: $white;
    :hover{
        color: $secondary;
    }
}

.yellow {
    color: $secondary;
    :hover{
        color: $secondary-dark;
    }
}

.blue {
    color: $primary;
    :hover{
        color: $primary-dark;
    }
}

.purple {
    color: $purple;
    :hover{
        color: $purple-dark;
    }
}