@import "../../../styles/global-styles.scss";

.card{
    box-shadow: $box-shadow-2dp;
    border-radius: $space-4;
    margin: $space-24 0;
    animation: fadein 0.250s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0.1; }
    to   { opacity: 1; }
}

.cardTitle{
    padding: $space-16;
}

.cardBy{
    color:$gray-700;
}

.cardText{
    color:$gray-900;
    padding: $space-16;
}

.cardImage{
    img {
        height: 32.0rem; 
        width: 100%; 
    }
}

.cardOptions{
    padding: $space-16;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cardOptionsLeft{
    padding: $space-16;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.optionsLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardButtons{
    display: flex;
    align-items: center;
}

.heart{
    font-size: $typography-24;
    padding: 0 $space-12;
}

.heart:hover{
}

@keyframes heart { 0%, 17.5% { font-size: 0; } }

.liked{
    color: $red;
    animation: heart 0.250s ease-in-out;
}

.disliked{
    color: $gray-500;
}

.shareAlt{
    color: $gray-500;
    font-size: $typography-24;
    padding-left: $space-12;
}