{
    "extends": [
        "joaopedrodcf",
        "plugin:node/recommended"
    ],
    "rules": {
        "import/order": [
            "error",
            {
                "groups": [
                    "external",
                    "index",
                    "sibling",
                    "parent",
                    "internal",
                    "builtin"
                ]
            }
        ],
        "camelcase": "off",
        "no-underscore-dangle": "off",
        "no-shadow": [
            "error",
            {
                "allow": [
                    "done",
                    "err"
                ]
            }
        ],
        "consistent-return": [
            "off"
        ]
    }
}