@import "../../../styles/global-styles.scss";

footer{
    grid-area: footer;
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-12dp;
    font-size: $typography-24;
    padding: $space-12;
}

.links{
    margin-bottom: $space-12;
    font-size: $typography-34;
}

.copyright{
    margin-bottom: $space-12;
}