@import "../../../styles/global-styles.scss";

.header{
    grid-area: header;
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: $box-shadow-12dp;
    font-size: $typography-24;
    padding: $space-12;
    position: relative;
    width: 100%;
}
.right{
    
}

.left{

}