@import "../../../../styles/global-styles.scss";

.card{
    box-shadow: $box-shadow-2dp;
    border-radius: $space-4;
    margin: $space-24 0;
    padding: $space-24;
}

.header{
    text-align: center;
    margin: $space-24 0;
}