@import "../../../../styles/global-styles.scss";

.card{
    box-shadow: $box-shadow-2dp;
    border-radius: $space-4;
    margin: $space-24 0;
    padding: $space-24;
}

.header{
    text-align: center;
}

.warnWrapper{
    display: flex;
    flex-direction: column;
    margin-top: $space-48;
    margin-bottom: $space-12;

    text-align: center;
}

.warn{
    margin: $space-12 0;
}