@import "../../../styles/global-styles.scss";

.drawer{
    position:fixed;
    top:0;
    left: -85%;
    width: 85%;
    background-color: $white;
    color: $black;
    height: 100%;
    transition: all 0.5s ease;
    box-shadow: $box-shadow-16dp;
    z-index: 100;
    opacity: 0;
}

.drawerShow{
    left: 0px;
    opacity: 1;
}

.header{
    height: $space-112;
    padding: $space-16;background-size: cover;
    background-image:  url("https://res.cloudinary.com/dcrcweea8/image/upload/c_scale,h_720/v1541249312/alex-581041-unsplash.jpg");
}

.links{
    color: $black;
    padding: $space-16;

    li {
        list-style:none;
    }

    ul {
        margin-bottom: $space-12;
    }
}